In [1]:
import pandas as pd

In [11]:
import numpy as np

In [35]:
import re

In [5]:
recipes = pd.read_json('recipeitems.json', lines=True)
recipes.shape

(173278, 17)

In [6]:
# 1st row
recipes.iloc[0]

_id                                {'$oid': '5160756b96cc62079cc2db15'}
name                                    Drop Biscuits and Sausage Gravy
ingredients           Biscuits\n3 cups All-purpose Flour\n2 Tablespo...
url                   http://thepioneerwoman.com/cooking/2013/03/dro...
image                 http://static.thepioneerwoman.com/cooking/file...
ts                                             {'$date': 1365276011104}
cookTime                                                          PT30M
source                                                  thepioneerwoman
recipeYield                                                          12
datePublished                                                2013-03-11
prepTime                                                          PT10M
description           Late Saturday afternoon, after Marlboro Man ha...
totalTime                                                           NaN
creator                                                             NaN
recipeCategory                                                      NaN
dateModified                                                        NaN
recipeInstructions                                                  NaN
Name: 0, dtype: object

In [7]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173278 entries, 0 to 173277
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 173278 non-null  object
 1   name                173278 non-null  object
 2   ingredients         173278 non-null  object
 3   url                 173278 non-null  object
 4   image               158278 non-null  object
 5   ts                  173278 non-null  object
 6   cookTime            117936 non-null  object
 7   source              173278 non-null  object
 8   recipeYield         165628 non-null  object
 9   datePublished       78110 non-null   object
 10  prepTime            130186 non-null  object
 11  description         158068 non-null  object
 12  totalTime           1570 non-null    object
 13  creator             395 non-null     object
 14  recipeCategory      388 non-null     object
 15  dateModified        161 non-null     object
 16  recipeInstructions  4 non-null       object
dtypes: object(17)
memory usage: 22.5+ MB

In [9]:
# focus on ingredients col
recipes.ingredients.str.len().describe()

count    173278.000000
mean        244.617926
std         146.705285
min           0.000000
25%         147.000000
50%         221.000000
75%         314.000000
max        9067.000000
Name: ingredients, dtype: float64

In [30]:
recipes.isnull().any()
# True = has null vals

_id                   False
name                  False
ingredients           False
url                   False
image                  True
ts                    False
cookTime               True
source                False
recipeYield            True
datePublished          True
prepTime               True
description            True
totalTime              True
creator                True
recipeCategory         True
dateModified           True
recipeInstructions     True
dtype: bool

In [10]:
# recipe with longest ingredient list
recipes[recipes.ingredients.str.len() == 9067] - # mm

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
135598,{'$oid': '51a2aa7096cc620ff9f0526b'},Carrot Pineapple Spice &amp; Brownie Layer Cak...,1 cup carrot juice2 cups (280 g) all purpose f...,http://www.eatthelove.com/2012/03/carrot-brown...,http://www.eatthelove.com/wp-content/uploads/2...,{'$date': 1369614960066},PT2H,eatthelove,one 3 layer cake,2012-03-26,PT3H,This is a fairly elaborate recipe (which is sa...,NaN,NaN,NaN,NaN,NaN

In [12]:
# recipe with longest ingredient list - book
recipes.name[np.argmax(recipes.ingredients.str.len())]

'Carrot Pineapple Spice &amp; Brownie Layer Cake with Whipped Cream &amp; Cream Cheese Frosting and Marzipan Carrots'

In [13]:
# how many receipes are for breakfast
recipes['recipeCategory'].unique()

array([nan, 'Salad', 'Snack', 'Breakfast', 'Appetizer',
       'vegetarian main course', 'Appetizers', 'Bread', 'cookies',
       'Dessert', None, 'Soups', 'Main Dishes', 'Vegetarian Main Course',
       'Main Course', 'Vegetarian Dinner', 'Dinner', 'Pasta', 'side dish',
       'Pizza', 'dinner', 'Lunch', 'Side Dishes', 'lunch',
       'Vegetarian main Course', 'Vegetarian Entree', 'Vegetarian Main',
       'main course', 'Vegetarian main course', 'Side Dish', 'breakfast',
       'Soup', 'soup', 'Miscellaneous', 'Odds and Ends', 'snack',
       'odd and ends', 'MiscellaneousBreakfast', 'Cake', 'Desserts',
       'dessert', 'Cakes/Cupcakes', 'Cookies/Brownies', 'Cookie',
       'Cookies', 'Drink', 'Baked Good', 'Baked Goods', 'bread',
       'BreadAppetizers', 'appetizer',
       'MeatBaconVegetablesArugulaFruitCranberryFishCod',
       'MeatVegetablesBaconFruitFigCheeseNutsTomato',
       'GrainsGritsFruitPeachMeatPorkCheeseVegetables',
       'CheesePoultryChicken',
       'Main dishChicken breastsChickenPoultryCheeseEggs/dairyMeatOvenTime to makeEquipment',
       'VegetablesShellfishShrimpFishSnapperTomato',
       'GrainsCornmealShellfishLobsterVegetablesCarrotCelery',
       'FruitLemonMeatBeefEggsNutsPoultryTurkey',
       'MeatBeefVegetablesSpinach', 'MeatPorkVegetablesSweet Potato',
       'FruitPeachDairy',
       'MeatBeefVegetablesCeleryBeans and LegumesPeasOnion',
       'MeatCheeseMozzarellaFetaVegetablesSpinachMushroomTomato',
       'MeatCheeseParmesan CheeseVegetablesOnionTomatoSugar',
       'FruitPlantainVegetablesCarrotCelery',
       'SausageShellfishShrimpMeatPorkPoultryChickenVegetables',
       'MeatBeefSausageCheeseMozzarellaVegetablesTomato',
       'DairyFruitPearCoconutNutsPoultryChickenVegetables',
       'ShellfishCrabFishVegetablesOnionTomato',
       'FruitCranberryAppleBreadSugar', 'VegetablesCorn',
       'MeatBeefVegetablesLettuceOnionTomato', 'salad', 'Poultry', 'Meat',
       'Vegetables', 'Dairy', 'Shellfish', 'Nuts', 'Fruit', 'Lamb',
       'Cherry', 'Eggs', 'Cucumber', 'Ice Cream', 'Beef', 'Apple',
       'Gruyere', 'Rice', 'beverage', 'Chicken', 'Ham', 'Buttermilk',
       'Couscous', 'Brunch/Dinner', 'Tomato', 'breads', 'Arugula',
       'Chocolate', 'Lobster'], dtype=object)

In [28]:
recipes[(recipes.recipeCategory == "Breakfast") | (recipes.recipeCategory == "breakfast")].shape[0] # mm

73

In [32]:
# book 
recipes.description.str.contains('[Bb]reakfast').sum()

3524

In [ ]:
# recipes that list cinnamon as ingredient

In [33]:
recipes.ingredients.str.contains('[cC]innamon').sum()

10526

In [34]:
#receipes that mispelled cinnamon as cinamon
recipes.ingredients.str.contains('[cC]inamon').sum()

11

In [40]:
# recipe recommender
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley', 'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

#check whether each ingredient appears in the ingredient list
check_ingd = pd.DataFrame({
    spice : recipes.ingredients.str.contains(spice, re.IGNORECASE) for spice in spice_list
})
check_ingd.head()

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
0,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,True,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [46]:
# find receipe that contains parsley, paprika, tarragon
new_df = check_ingd[(check_ingd.parsley) & (check_ingd.paprika) & (check_ingd.tarragon)]
new_df.head()

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
2069,False,True,False,False,True,False,True,False,True,False
74964,False,False,False,False,True,False,True,False,True,False
93768,True,True,False,True,True,False,True,False,True,False
113926,True,True,False,False,True,False,True,False,True,False
137686,True,True,False,False,True,False,True,False,True,False

In [47]:
# 10 recipes contain all 3 ingredients
len(new_df)

10

In [50]:
new_df.index

Int64Index([2069, 74964, 93768, 113926, 137686, 140530, 158475, 158486, 163175,
            165243],
           dtype='int64')

In [51]:
# name of recipes that contain all 3 ingredients
recipes.name[new_df.index]

2069      All cremat with a Little Gem, dandelion and wa...
74964                         Lobster with Thermidor butter
93768      Burton's Southern Fried Chicken with White Gravy
113926                     Mijo's Slow Cooker Shredded Beef
137686                     Asparagus Soup with Poached Eggs
140530                                 Fried Oyster Po’boys
158475                Lamb shank tagine with herb tabbouleh
158486                 Southern fried chicken in buttermilk
163175            Fried Chicken Sliders with Pickles + Slaw
165243                        Bar Tartine Cauliflower Salad
Name: name, dtype: object