In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('marathon-data.csv')
data.head()

   age gender     split     final
0   33      M  01:05:38  02:08:51
1   32      M  01:06:26  02:09:28
2   31      M  01:06:49  02:10:42
3   38      M  01:06:16  02:13:45
4   31      M  01:06:32  02:13:59

In [3]:
data.dtypes
# object = string

age        int64
gender    object
split     object
final     object
dtype: object